.projectTitle {
    margin-top: 10%;
    margin-bottom: 5%;

    & h1 {
        text-align: center;
        color: rgb(200, 0, 200);
        font-weight: 650;
        font-size: 45px;
        font-family: 'Montserrat', sans-serif;
    }
}

.projects {
    & .project__container {
        display: flex;
        flex-direction: column;
        padding: 5%;
        gap: 9px;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;

        & a {
            text-decoration: none;
        }

        & .content {
            display: flex;
            border-radius: 3px;
            padding: 20px 5px;
            width: 60%;
            background-color: rgb(59, 59, 59);
            transition: transform 0.2s ease-in-out;
            justify-content: space-between;

            &:hover {
                cursor: pointer;
                transform: scale(1.03);
            }

            & .divOne {
                display: flex;
                width: 100%;

                & .left {
                    color: black;
                    margin-left: 2%;
                    margin-right: 5%;
                }

                & .right {

                    & h4 {
                        font-weight: 500;
                        margin-top: 1.5%;
                        color: white;
                    }
                }
            }

            & .right-corner {
                color: white;
                // margin-left: 55%;
            }
        }
    }
}

@media(max-width:768px) {
    .projects {
        & .project__container {
            & .content {
                width: 85%;
                & .divOne {
                    & .right {
                        & h4 {
                            font-size: 85%;
                        }
                    }
                }
            }
        }
    }
}