.experienceTitle {
    margin-top: 8%;
    margin-bottom: 6%;

    & h1 {
        text-align: center;
        color: rgb(200, 0, 200);
        font-weight: 650;
        font-size: 45px;
        font-family: 'Montserrat', sans-serif;
    }
}
@media(max-width:768px){
    experience{
        & .experienceTitle{
            & h1{
                font-size: 35px;
            }
        }
    }
}
