.experienceTitle {
    margin-top: 80px;
    margin-bottom: 8%;

    & h1 {
        text-align: center;
        color: rgb(200, 0, 200);
        font-weight: 650;
        font-size: 45px;
        font-family: 'Montserrat', sans-serif;
    }
}



